<a href="https://colab.research.google.com/github/KabichNeu/StockMarketPrediction/blob/master/Indicators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#newdata after mining
from google.colab import files
uploaded = files.upload()

Saving stockdata.csv to stockdata.csv

In [ ]:
import io
import pandas as pd
stockdata = pd.read_csv(io.BytesIO(uploaded['stockdata.csv']))

In [ ]:
stockdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1910 entries, 0 to 1909
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             1910 non-null   object
 1   open             1910 non-null   float64
 2   high             1910 non-null   float64
 3   low              1910 non-null   float64
 4   close            1910 non-null   float64
 5   vol              1910 non-null   object
 6   close_-1_s       1909 non-null   float64
 7   close_-1_d       1909 non-null   float64
 8   closepm          1909 non-null   float64
 9   closenm          1909 non-null   float64
 10  closepm_14_smma  1909 non-null   float64
 11  closenm_14_smma  1909 non-null   float64
 12  rs_14            1909 non-null   float64
 13  rsi_14           1909 non-null   float64
 14  RSI              1909 non-null   float64
 15  MACD             1910 non-null   float64
 16  CCI              1909 non-null   float64
 17  ADX              1909 non-null   float64
dtypes: float64(16), object(2)
memory usage: 268.7+ KB

In [ ]:
stockdata['vol'] = stockdata['vol'].str.replace(',','')

In [ ]:
stockdata

            Date   open   high  ...       MACD         CCI         ADX
0     2012-01-01  873.0  879.0  ...   0.000000         NaN         NaN
1     2012-01-02  879.0  913.0  ...   0.471154   66.666667  100.000000
2     2012-01-03  900.0  916.0  ...   0.352264   54.237288  100.000000
3     2012-01-04  892.0  875.0  ...  -0.685267  -84.313725   67.623618
4     2012-01-05  865.0  875.0  ...  -1.513166  -59.581320   52.310464
...          ...    ...    ...  ...        ...         ...         ...
1905  2020-03-16  741.0  764.0  ...   7.924927 -124.141364   26.345841
1906  2020-03-17  765.0  765.0  ...   1.680259 -115.728978   29.561957
1907  2020-03-18  731.0  739.0  ...  -4.507789 -120.879121   33.988905
1908  2020-03-19  701.0  740.0  ...  -8.108023 -101.120479   38.117933
1909  2020-03-22  744.0  744.0  ... -13.149710  -97.213115   39.894882

[1910 rows x 18 columns]

In [ ]:
stockdata.describe(include = 'all')

              Date         open  ...          CCI          ADX
count         1910  1910.000000  ...  1909.000000  1909.000000
unique        1901          NaN  ...          NaN          NaN
top     2015-06-08          NaN  ...          NaN          NaN
freq             3          NaN  ...          NaN          NaN
mean           NaN  1538.958115  ...    -6.112594    34.145591
std            NaN   559.777683  ...   112.423328    17.562188
min            NaN   662.000000  ...  -453.900986     6.610352
25%            NaN   955.000000  ...   -86.758748    20.292161
50%            NaN  1570.000000  ...   -15.240060    30.297899
75%            NaN  1940.000000  ...    73.684211    46.044541
max            NaN  2720.000000  ...   379.562217   100.000000

[11 rows x 18 columns]

In [ ]:
stockdata.set_index('Date')

             open   high    low  ...       MACD         CCI         ADX
Date                             ...
2012-01-01  873.0  879.0  851.0  ...   0.000000         NaN         NaN
2012-01-02  879.0  913.0  882.0  ...   0.471154   66.666667  100.000000
2012-01-03  900.0  916.0  892.0  ...   0.352264   54.237288  100.000000
2012-01-04  892.0  875.0  842.0  ...  -0.685267  -84.313725   67.623618
2012-01-05  865.0  875.0  858.0  ...  -1.513166  -59.581320   52.310464
...           ...    ...    ...  ...        ...         ...         ...
2020-03-16  741.0  764.0  723.0  ...   7.924927 -124.141364   26.345841
2020-03-17  765.0  765.0  721.0  ...   1.680259 -115.728978   29.561957
2020-03-18  731.0  739.0  700.0  ...  -4.507789 -120.879121   33.988905
2020-03-19  701.0  740.0  690.0  ...  -8.108023 -101.120479   38.117933
2020-03-22  744.0  744.0  700.0  ... -13.149710  -97.213115   39.894882

[1910 rows x 17 columns]

In [ ]:
stockdata.fillna(0)

            Date   open   high  ...       MACD         CCI         ADX
0     2012-01-01  873.0  879.0  ...   0.000000    0.000000    0.000000
1     2012-01-02  879.0  913.0  ...   0.471154   66.666667  100.000000
2     2012-01-03  900.0  916.0  ...   0.352264   54.237288  100.000000
3     2012-01-04  892.0  875.0  ...  -0.685267  -84.313725   67.623618
4     2012-01-05  865.0  875.0  ...  -1.513166  -59.581320   52.310464
...          ...    ...    ...  ...        ...         ...         ...
1905  2020-03-16  741.0  764.0  ...   7.924927 -124.141364   26.345841
1906  2020-03-17  765.0  765.0  ...   1.680259 -115.728978   29.561957
1907  2020-03-18  731.0  739.0  ...  -4.507789 -120.879121   33.988905
1908  2020-03-19  701.0  740.0  ...  -8.108023 -101.120479   38.117933
1909  2020-03-22  744.0  744.0  ... -13.149710  -97.213115   39.894882

[1910 rows x 18 columns]

In [ ]:
stockdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1910 entries, 0 to 1909
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             1910 non-null   object
 1   open             1910 non-null   float64
 2   high             1910 non-null   float64
 3   low              1910 non-null   float64
 4   close            1910 non-null   float64
 5   vol              1910 non-null   object
 6   close_-1_s       1909 non-null   float64
 7   close_-1_d       1909 non-null   float64
 8   closepm          1909 non-null   float64
 9   closenm          1909 non-null   float64
 10  closepm_14_smma  1909 non-null   float64
 11  closenm_14_smma  1909 non-null   float64
 12  rs_14            1909 non-null   float64
 13  rsi_14           1909 non-null   float64
 14  RSI              1909 non-null   float64
 15  MACD             1910 non-null   float64
 16  CCI              1909 non-null   float64
 17  ADX              1909 non-null   float64
dtypes: float64(16), object(2)
memory usage: 268.7+ KB

In [ ]:
stockdata['Date'] = pd.to_datetime(stockdata['Date'],format = '%Y/%m/%d')

In [ ]:
stockdata['Date']

0      2012-01-01
1      2012-01-02
2      2012-01-03
3      2012-01-04
4      2012-01-05
          ...
1905   2020-03-16
1906   2020-03-17
1907   2020-03-18
1908   2020-03-19
1909   2020-03-22
Name: Date, Length: 1910, dtype: datetime64[ns]

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
from matplotlib import style
import numpy as np
style.use('ggplot')

In [ ]:
stockdata = stockdata.drop(['close_-1_s','close_-1_d','closepm','closenm','closepm_14_smma','closenm_14_smma','rs_14','rsi_14'],axis = 1)

In [ ]:
stockdata

           Date   open   high  ...       MACD         CCI         ADX
0    2012-01-01  873.0  879.0  ...   0.000000         NaN         NaN
1    2012-01-02  879.0  913.0  ...   0.471154   66.666667  100.000000
2    2012-01-03  900.0  916.0  ...   0.352264   54.237288  100.000000
3    2012-01-04  892.0  875.0  ...  -0.685267  -84.313725   67.623618
4    2012-01-05  865.0  875.0  ...  -1.513166  -59.581320   52.310464
...         ...    ...    ...  ...        ...         ...         ...
1905 2020-03-16  741.0  764.0  ...   7.924927 -124.141364   26.345841
1906 2020-03-17  765.0  765.0  ...   1.680259 -115.728978   29.561957
1907 2020-03-18  731.0  739.0  ...  -4.507789 -120.879121   33.988905
1908 2020-03-19  701.0  740.0  ...  -8.108023 -101.120479   38.117933
1909 2020-03-22  744.0  744.0  ... -13.149710  -97.213115   39.894882

[1910 rows x 10 columns]